.alpackages/*
.alpackages/Microsoft_Application_18.0.23013.23795.app
.alpackages/Microsoft_Base Application_18.0.23013.23795.app
.alpackages/Microsoft_System Application_18.0.23013.23795.app
.alpackages/Microsoft_System_18.0.22893.23773.app
